// 
// Testimonials
// 

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .testimonial-item {
    max-width: 18rem;

    img {
      max-width: 12rem;
      background: linear-gradient(180deg, #b4b4b4, #e3e3e3);
    }
  }
}