doctype html
html(lang='en')

    head
        <!-- Google tag (gtag.js) -->
        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-SSJGHFM6VL")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-SSJGHFM6VL');

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title algOS - carbon farming at scale

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
        link(rel='icon', type='image/png' sizes='16x16', href='assets/favicon-16x16.png')
        link(rel='manifest', href='/site.webmanifest')
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#00aba9')
        meta(name='theme-color', content='#ffffff')


        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center
                            // Page heading
                            img(src="assets/img/logo.svg", style={ width: '70%' })
                            //h1.mb-5 algOS
                            //- div.mb-5.subtitle carbon farming at scale

        // Intro
        #intro.px-4.py-5.my-5.text-center
            h1.display-5.fw-bold.text-body-emphasis What we do
            .col-lg-6.mx-auto
                p.lead.mb-0
                | We develop an advanced microalgae-based carbon capture and storage technology to make a significant
                | positive impact on our environment and pave the way towards a carbon-negative future.


        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-patch-plus.m-auto.text-primary
                            h3 Additional
                            p.lead.mb-0
                                | We grow microalgal biomass at scale without interfering with other ecosystems
                                | in a closed loop system.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-lock.m-auto.text-primary
                            h3 Permanent
                            p.lead.mb-0
                                | Through pyrolysis we produce biochar and (pyrolysis) oil which can be stored for
                                | 1.000+ years.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-shield-check.m-auto.text-primary
                            h3 Verifiable
                            p.lead.mb-0
                                | We provide a digital track record of every process step, work with established
                                | partners and follow best in class methodologies.

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/algae.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Why Microalgae?
                        p.lead.mb-0
                            | Microalgae are highly efficient at capturing carbon dioxide and have a much faster growth
                            | rate than terrestrial plants - after all it's them that created much of our atmosphere how we know it today.
                            | Microalgae are grown in an isolated environment ensuring we do not compete for valuable resources
                            | that may otherwise be required and to protect existing ecosystems.
                .row.g-0
                    .col-lg-6.order-lg-1.text-white.showcase-img(style="background-image: url('assets/img/pbr.jpg');")
                    .col-lg-6.order-lg-2.my-auto.showcase-text
                        h2 Technology
                        p.lead.mb-0
                            | We develop a carbon capturing technology that's sustainable, eco-friendly, and minimizes
                            | its impact on existing ecosystems. Our technology captures carbon that would otherwise
                            | remain in the atmosphere and stores it permanently. We're committed to creating a solution
                            | that's not only effective but also responsible, ensuring a better future for our planet.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/biochar.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Storage
                        p.lead.mb-0
                            | The algae biomass in converted though pyrolysis into a stable carbon product like biochar
                            | or bio-oil. This avoids the natural decay of the biomass and the release of the carbon.
                            | It enables a long term sequestration of the carbon in the ground.

        // Testimonials
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5 About us
                p.lead.mb-0
                    | TBD
                    <br><br>
                .row
                    .col-lg-3.col-md-6
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/team/fabio.png', alt='...')
                            h5 Fabio
                            p.font-weight-light.mb-0
                                | Fabio has a degree in Computer Science &amp; Biomedical Engineering and loves
                                | building things. At algOS he's the jack of all trades master of none.
                    .col-lg-3.col-md-6
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/team/remo.png', alt='...')
                            h5 Remo
                            p.font-weight-light.mb-0
                                | With a background in computer science and electrical engineering, Remo 
                                | works on improving, scaling and parallelizing our reactor designs.
                    .col-lg-3.col-md-6
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/team/jan.png', alt='...')
                            h5 Jan
                            p.font-weight-light.mb-0
                                | Jan did his PhD on modelling biological systems and developing numerical 
                                | methods. At algOS, he develops computational algae models
                                | for the optimal carbon uptake from the air.

                    .col-lg-3.col-md-6
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/team/janos.png', alt='...')
                            h5 János
                            p.font-weight-light.mb-0
                                | János is a trained mathematician and experienced data scientist &amp; software engineer,
                                | he supports algOS in all things data.

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6.lead.mb-0
                        | We would love to hear from you.<br><br>

                        a(href="mailto:hello@algos.green").btn.btn-primary.btn-lg
                            i.bi-envelope.m-auto
                            | Get in touch
                        //.col-auto
                        //h2.mb-4 Get in touch:
                        //    a(href="mailto:team@algos.green") team@algos.green


        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        //ul.list-inline.mb-2
                        //    li.list-inline-item
                        //        a(href='#!') About
                        //    li.list-inline-item ⋅
                        //    li.list-inline-item
                        //        a(href='#!') Contact
                        //    li.list-inline-item ⋅
                        //    li.list-inline-item
                        //        a(href='#!') Terms of Use
                        //    li.list-inline-item ⋅
                        //    li.list-inline-item
                        //        a(href='#!') Privacy Policy
                        p.text-muted.small.mb-4.mb-lg-0 &copy; algOS 2023. All Rights Reserved.
                    //.col-lg-6.h-100.text-center.text-lg-end.my-auto
                    //    ul.list-inline.mb-0
                    //        li.list-inline-item.me-4
                    //            a(href='#!')
                    //                i.bi-facebook.fs-3
                    //        li.list-inline-item.me-4
                    //            a(href='#!')
                    //                i.bi-twitter.fs-3
                    //        li.list-inline-item
                    //            a(href='#!')
                    //                i.bi-instagram.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
